* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
		font-family: 'Vollkorn', serif;
    }

.fullPage {
	background-color: #e5f2f2;
}

.bodyContainer {
	background-color: #7DC2AD;
	width:100%;
	height: calc(85vh - 58px);
	margin: 0px auto;
	overflow-y: auto;
}

.pageContent {
	margin: 40px;
}

p {
	font-size: 14px;
	margin-bottom: 15px;
	line-height: 1.5;
}

h1 {
	font-size: 26px;
	line-height: 2;
}

h2 {
	font-size: 22px;
}

h3 {
	font-style: italic;
}

a {
	text-decoration: none;
	color: #CF5C36;
}

a:hover {
	color: #C38D9E;
}
